.container {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(to bottom right, #60a5fa, #3b82f6, #2563eb);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.watherContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  background: rgba(73, 65, 193, 0.9);
  backdrop-filter: blur(10px);
  border-radius: 1.5rem;
  box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);
  padding: 2rem;
  max-width: 64rem;
  width: 100%;
}